h1, h2, h3, p, body, div {
   font-family: Tahoma, Helvetica, sans-serif;
   margin: 0;
   padding: 0;  
}

h1  {  
   font-size: 1.8em; 
   margin: 0.25em 0 0.25em 0;
}
h2  {   
   font-size: 1.2em;    
   margin: 0.5em 0 0.25em 0;
}
p, body {
   font-size: 0.9em;
} 
p {
   margin-bottom: 1em;
}  
body {
   background-color: white; 
}

article {
   background-color: #F5F5F5;
   margin: 5em 5em 2em 25em;
   padding: 1em 20px;
}



figure {    
   float: left;
   //padding: 0 1em ;
   position: relative;
}
figcaption {
   width: 140px;
   background-color: black;
   color:white;
   opacity:0.7;
   height: 20px;
   padding: 5px;
   position: absolute;
   top: 120px;
}
.overlayed {
   position: absolute;
   top: 0px;
   left: 0px;
}

.entry {
   overflow: auto;
   border-top: 1pt solid #ff8800;
}
.right {
   float: right;
}
.linkbutton {
   margin-top: 2em;
   background-color: #ff8800;
   display: block;
   padding: 10px 10px;
   color: white;
   text-decoration: none; 
font-size: 0.75em;   
}


footer {
   background-color: #474747;
   color: #F5F5F5;
   padding: 2em 5em 2em 2em;
   margin: 0;
   color: #cacaca;
}
footer h2 { color: #a4a1a1; }   
.footer-related {
   overflow: auto;
   width: 21em;
   margin-right: 2em;
   border-top: 1pt solid #ff8800;
   float:left;
}
.footer-section{

   overflow: auto;
   border-top: 1pt solid #ff8800;
}
.footer-related img { margin: 3px; }