button#play {
    background-color: cornflowerblue;
    color: white;
    height: 2em;
    width: 10em;
}

#title {
    font-family: Arial, sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    color: darkblue;
}

body {
    font-size: 16px;
}

div#content {
    background-color: azure;
    min-width: 200px;
    #height: 300px;
    font-family: Times, serif;
}

div.button_panel {
    margin: 0 auto;
    width: 12em;
}

.body_p span{
    font-weight: bold;
}