body {
	font-size: 16px;
	font-family: Times New Roman, Times, serif;
	background-color: whitesmoke;
}
head title, header h1 {
	font-size: 200%;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-style: bold;
	color: darkslateblue;
}
header h2 {
	font-size: 150%;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-style: bold;
	color: darkslateblue;
}
section h1 {
	font-style: bold;
	color: darkslateblue;
	font-size: 125%;
	margin-bottom: 0px;
}
section h2 {
	font-style: bold;
	color: darkslateblue;
}
body, title {
	padding: 10px;
}
section#section_subhead {
	margin-top: 5px;
}
p {
	margin-left: 10px;
	margin-right: 10px;
}
p.clear {
	clear:both;
}
img {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	width: 25%;
}
img#shark{
	float: right;
}
img#nemo{
	float: left;
}
img#yellow_fish{
	float: right;
}
